*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #002339;
    color: white;
}

.container{
    margin: 10%;
}

.main h1 span{
    color: green;
    text-decoration: 2px underline;
    text-underline-offset: 10px;
}

.display{
    margin-top: 20px;

    display: flex;
    align-items: center;

}

#password{
 
    width: 70%;
    min-height: 50px;
    border-radius: 15px;
    border: none;
    padding: 20px;
    font-size: 1rem;
}

.copy-elm{
   position: relative;
   right: 40px;
   background-color:white;
   outline: none;
   border: none;
   font-size: 1.3rem;
}

.copy-elm:active{
    background-color: gray;
    border-radius: 15px;
}
    
#generate{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
}    


